<a href="https://colab.research.google.com/github/coatless/colab-notes/blob/main/02-pandas-styler-for-dataframe-dtype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# (Aside) Upgrade pandas to 1.5 or higher

The `styler` features were added in Pandas v1.5 as of this note, the colab version sits at: 1.3.5.

Pandas requires version '3.0.0' or newer of 'jinja2' (version '2.11.3' currently installed)

In [1]:
!pip install pandas==1.5.2 Jinja2==3.0.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas==1.5.2 in /usr/local/lib/python3.8/dist-packages (1.5.2)
Requirement already satisfied: Jinja2==3.0.0 in /usr/local/lib/python3.8/dist-packages (3.0.0)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.8/dist-packages (from pandas==1.5.2) (1.21.6)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/dist-packages (from pandas==1.5.2) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas==1.5.2) (2.8.2)
Requirement already satisfied: MarkupSafe>=2.0.0rc2 in /usr/local/lib/python3.8/dist-packages (from Jinja2==3.0.0) (2.0.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.8.1->pandas==1.5.2) (1.15.0)

# DataFrame

Create a data frame

In [20]:
import pandas as pd

df = pd.DataFrame([[1, "tall"], [2, "small"], [3, "normal"]],
               columns=["id", "height"],
               index=["JJB", "H", "X"])

df

     id  height
JJB   1    tall
H     2   small
X     3  normal

## Apply Styler for Data Type (dtype)

Determine the style for each column.

In [21]:
# Obtain data type for each column
descriptors = df.agg([lambda s: s.dtype])

# Provide a row-index label
descriptors.index = ["dtype"]

descriptors

          id  height
dtype  int64  object

Check the styles

In [22]:
# Bold text
other = (descriptors.style
         .applymap(lambda v: "font-weight: bold;"))

# Add a line separating new text from original table
styler = (df.style
            .set_table_styles([{"selector": ".foot_row0",
                                "props": "border-top: 1px solid black;"}]))

# Add the bold styling onto the table
styler.concat(other)